.timer-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
  padding: 0 2rem;
  position: relative;
  .tooltip__handler {
    position: absolute;
    font-size: 1rem;
    right: -10px;
    top: -10px;
    box-shadow: var(--box-shadow);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover + .tooltip {
      display: inline;
    }
  }
  .tooltip {
    position: absolute;
    display: none;
    top: -70px;
    background-color: var(--text-color);
    color: var(--main-color);
    padding: 10px;

    font-size: 14px;
    right: 0;
  }
}
.timers {
  list-style: none;
  display: flex;

  padding: 0;
  max-width: 100%;
  gap: 20px;
  justify-content: center;
  align-self: stretch;
  flex-wrap: wrap;

  li {
    font-size: clamp(0.6rem, 3vw, 1rem);
    font-weight: 700;

    padding: 5px 10px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.05) translateY(5px);
    }
    &.active {
      background-color: var(--text-color);
      color: var(--main-color);
    }
  }
}
