.result {
  display: flex;

  img {
    box-shadow: var(--box-shadow--double);
    height: 70px;
    width: 70px;
    transition: all 0.3s;
    filter: grayscale(0.5);
    border-radius: 50%;
  }
  span {
    font-weight: 700;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--box-shadow--double);
    transform: translate(15px, -15px);
  }
}
