.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 2rem 0;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    margin: 1rem 0;
  }
}
.image-wrapper {
  position: relative;
}
.input__image {
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.5), var(--box-shadow);
  height: clamp(70px, 5vw, 100px);
  width: clamp(70px, 5vw, 100px);
  transition: all 0.3s;
  filter: grayscale(0.5);
  border-radius: 50%;
}
.check-mark {
  position: absolute;
  font-size: 1.5rem;
  top: -10px;
  right: -30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow--double);
  svg {
    opacity: 0;
    transition: all 0.3s;
  }
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  width: 100%;
  height: 100%;

  &:checked ~ .image-wrapper {
    .input__image {
      filter: grayscale(0);
    }
    .check-mark {
      svg {
        opacity: 1;
      }
    }
  }
}

.input__total-value {
  min-width: 150px;
  font-weight: 700;
}
.input__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media only screen and (max-width: 450px) {
    flex-direction: row-reverse;
  }
  button {
    font-size: 1.3rem;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow--double);
    background-color: transparent;
    border-radius: 50%;
  }
}
