.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  button {
    align-self: center;
  }
  @media only screen and (max-width: 800px) {
    margin: 2rem 0 0 0;
  }
}
.form__inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: clamp(10px, 5vw, 20px);
  margin: 2rem 0;
  @media only screen and (max-width: 800px) {
    margin: 1rem 0;
  }
}
.inputs__header {
  font-size: clamp(1.25rem, 5vw, 2rem);
  margin: 1rem 0;
  font-family: var(--cta-font);
  letter-spacing: 2px;
  font-weight: 700;
}
.inputs {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;

  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.chips-warning {
  color: red;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
}
