.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  button {
    align-self: center;
  }
}
.form__inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0;

  label {
    font-size: 1.2rem;
    font-weight: 700;
  }
  input {
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
    background-color: transparent;
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    border: 2px solid black;
    border-radius: 15px;
    max-width: 200px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
    &::placeholder {
      color: var(--text-color);
    }
  }
}
.inputs__header {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}
.inputs {
  display: grid;
  grid-gap: 20px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
