.blinds {
  display: flex;
  justify-content: space-around;

  width: 100%;
}
.blind {
  position: relative;
  padding: 2rem 3rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
  &--small {
    color: red;
    box-shadow: -3px 3px 3px black;
    &:before {
      content: "SMALL";
    }
  }
  &--big {
    color: black;
    font-weight: 700;
    box-shadow: 3px 3px 3px black;
    &:before {
      content: "BIG";
    }
  }
  &:before {
    position: absolute;
    top: -50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
