.blinds {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  @media only screen and (max-width: 1000px) {
    row-gap: 60px;
  }
  &__inner-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.blind {
  position: relative;
  padding: 1rem 2rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
  background-color: var(--main-color);

  &--small {
    color: red;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
    &:before {
      content: "SMALL";
    }
  }
  &--big {
    color: black;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    &:before {
      content: "BIG";
    }
  }
  &:before {
    position: absolute;
    top: -60%;
    transform: translateX(-50%);
    left: 50%;
  }
}
.blind__warning {
  display: inline-block;
  align-self: center;
  padding: 10px;
  box-shadow: var(--box-shadow);
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
}
