.table {
  top: 20px;
  right: 20px;
  position: fixed;
  tr.active {
    th,
    td {
      background-color: var(--main-color);
      color: var(--text-color);
      border: 2px solid var(--text-color);
    }
  }
  td,
  th {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--main-color);
    padding: 3px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1050px) {
  .table {
    display: none;
  }
}
