.blinds {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  &__inner-wrapper {
    display: flex;
    justify-content: space-around;
  }
}
.blind {
  position: relative;
  width: clamp(70px, 20vw, 100px);
  height: clamp(70px, 20vw, 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 5vw, 2rem);
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translateY(-160px);
  @media only screen and (max-width: 1600px) {
    transform: translateY(0);
  }
  &--small {
    color: red;
    box-shadow: var(--box-shadow--double);
    &:before {
      content: "SMALL";
    }
  }
  &--big {
    color: black;
    font-weight: 700;
    box-shadow: var(--box-shadow);
    &:before {
      content: "BIG";
    }
  }
  &:before {
    position: absolute;
    top: -60%;
    transform: translateX(-50%);
    left: 50%;
  }
}
.blind__changer {
  display: inline-block;
  align-self: center;
  padding: 10px;
  border-radius: 50px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  column-gap: 20px;
  box-shadow: var(--box-shadow);
  font-size: clamp(0.9rem, 3vw, 1.5rem);
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: 700;
  text-align: center;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 4vw, 2rem);
    font-weight: 700;
    background-color: var(--main-color);
    border: none;
    outline: none;
    box-shadow: var(--box-shadow--double);
    padding: 0 5px;
    width: clamp(50px, 5vw, 50px);
    height: clamp(50px, 5vw, 50px);
    border-radius: 50%;
  }
}
