@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");
:root {
  --cta-font: "Wendy One", sans-serif;
  --text-color: black;
  --text-color--light: rgba(0, 0, 0, 0.8);
  --main-color: rgb(255, 187, 0);
  --background-color: radial-gradient(
    circle,
    rgba(255, 196, 0, 1) 0%,
    rgba(255, 162, 0, 1) 100%
  );
  --box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  --box-shadow--double: 0px 0px 2px rgba(0, 0, 0, 0.3), var(--box-shadow);
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

  padding: 0;
  background: var(--background-color);
}

h1,
h2,
p {
  margin: 0;
}
.whole-app {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  &__image {
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    max-width: 100%;
    width: clamp(150px, 15vw, 300px);
    @media only screen and (max-width: 850px) {
      display: none;
    }
    &--chips {
      top: 20px;
      left: 20px;
    }
    &--cards {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }
}
.default-page {
  padding: 1rem 0;
  max-width: 90%;
  margin: 0 auto;
}
