.button {
  padding: 0.5rem 1.5rem;
  margin: 2rem 0;
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 700;
  display: block;
  border-radius: 50px;
  box-shadow: 3px 3px 3px var(--text-color);
  transition: all 0.2s;
  outline: none;
  border: 1px solid var(--text-color);
  &:hover {
    background-color: var(--text-color);
    color: var(--main-color);
  }
}
