.calculation-loader {
  width: 200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    display: inline-block;
    background-color: black;
    width: 5px;
    height: 20px;
    border-radius: 20px;
    // transform-origin: bottom;
    &:nth-child(1) {
      animation: animateLoader 1s linear infinite;
    }
    &:nth-child(2) {
      animation: animateLoader 1s 0.125s linear infinite;
    }
    &:nth-child(3) {
      animation: animateLoader 1s 0.25s linear infinite;
    }
    &:nth-child(4) {
      animation: animateLoader 1s 0.375s linear infinite;
    }
    &:nth-child(5) {
      animation: animateLoader 1s 0.5s linear infinite;
    }
    &:nth-child(6) {
      animation: animateLoader 1s 0.625s linear infinite;
    }
    &:nth-child(7) {
      animation: animateLoader 1s 0.75s linear infinite;
    }
    &:nth-child(8) {
      animation: animateLoader 1s 0.875s linear infinite;
    }
  }
}

@keyframes animateLoader {
  0% {
    transform: scaleY(100%);
  }

  20% {
    transform: scaleY(250%);
  }
  50% {
    transform: scaleY(100%);
  }
}
