.header {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}
.heading {
  font-size: clamp(1.5rem, 5vw, 2rem);

  text-align: center;
  margin: 1rem 0;
  padding: 1rem 3rem;
  color: var(--text-color);
  font-weight: 700;
  letter-spacing: 5px;

  box-shadow: var(--box-shadow);
}
