.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  perspective: 1000px;

  img {
    position: absolute;
    width: clamp(75px, 20vw, 150px);

    border-radius: 5px;
    transform-style: preserve-3d;
    box-shadow: -2px -1px 0px 1px black;
    background-color: white;
    opacity: 0;
    transition: all 0.5s;

    &:nth-child(1) {
      --translate: -150px;
      @media only screen and (max-width: 500px) {
        --translate: -100px;
      }
      transform: translate(var(--translate), -100px) skewY(-10deg) skewX(-2deg);
      z-index: 0;
    }
    &:nth-child(2) {
      --translate: -50px;
      @media only screen and (max-width: 500px) {
        --translate: -25px;
      }
      transform: translate(var(--translate), -100px) skewY(-10deg) skewX(-2deg);
      z-index: 1;
      border: 1px solid black;
    }
    &:nth-child(3) {
      --translate: 50px;
      @media only screen and (max-width: 500px) {
        --translate: 25px;
      }
      transform: translate(var(--translate), -100px) skewY(-10deg) skewX(-2deg);
      z-index: 2;
      border: 1px solid black;
    }
    &:nth-child(4) {
      --translate: 150px;
      @media only screen and (max-width: 500px) {
        --translate: 100px;
      }
      transform: translate(var(--translate), -100px) skewY(-10deg) skewX(-2deg);
      z-index: 3;
    }
  }
}
